__pycache__/
*.py[cod]
*.pyo
*$py.class

.venv*
venv/
.venv-dist/
env/
.venv*


.env
.env.*
!.env.sample


instance/
*.db
*.sqlite
*.sqlite3


dump/
*.bson
urls_export.json


.cache/
.pytest_cache/
.mypy_cache/
.pytype/
.coverage
htmlcov/


*.log
logs/
log/


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db


build/
dist/
.eggs/
*.egg-info/


poetry.lock

*.tmp
*.temp
*.bak


assets/images/qr/*