annotated-doc==0.0.4 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.12.1 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version < "3.11.3"
click==8.3.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
dnspython==2.8.0 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.3.1 ; python_version == "3.10"
fastapi==0.128.7 ; python_version >= "3.10" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.11 ; python_version >= "3.10" and python_version < "3.13"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
pillow==12.1.0 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.41.5 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.12.5 ; python_version >= "3.10" and python_version < "3.13"
pymongo==4.16.0 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
python-multipart==0.0.22 ; python_version >= "3.10" and python_version < "3.13"
qrcode==8.2 ; python_version >= "3.10" and python_version < "3.13"
redis==7.1.1 ; python_version >= "3.10" and python_version < "3.13"
starlette==0.52.1 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.13"
uvicorn==0.40.0 ; python_version >= "3.10" and python_version < "3.13"
validators==0.35.0 ; python_version >= "3.10" and python_version < "3.13"
