<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Coming-soon</title>

  <!-- Reuse main CSS -->
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>



  <main class="page coming-soon-page">
    <div class="coming-soon-card">
      <div class="coming-icon">🚧</div>
      <h1>Coming Soon</h1>
      <p>
        This feature is under active development.
      </p>

      <a href="/" class="coming-btn">← Back to Home</a>
    </div>
  </main>

</body>

</html>