{% extends "layout.html" %} {% block content %}
<div class="main-layout">
  <div class="contact-card">
    <h1>Contact Us</h1>
    <p>If you have any questions, feedback, or need assistance, feel free to reach out to us!</p>
    <ul class="contact-info">
      <li><strong>Email:</strong> <a href="mailto:hello@recursivezero.com">hello@recursivezero.com</a></li>
      <li><strong>Twitter:</strong> <a href="https://twitter.com/recursivezero" target="_blank">@recursivezero</a></li>
      <li><strong>GitHub:</strong> <a href="https://github.com/recursivezero/tiny/issues" target="_blank">GitHub
          Issues</a></li>
    </ul>
  </div>
</div>
{% endblock %}