<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}rzro.link{% endblock %}</title>
  <!-- OpenGraph Meta Tags -->
  <meta property="og:title" content="Smart URL Shortener | From Recursive Zero">
  <meta property="og:description"
    content="A fast and reliable platform to shorten, manage, and track your links easily and share across internet with confidence. generate QR codes for your links and access detailed analytics.">
  <meta property="og:image" content="https://rzro.link/static/og-image.png">
  <meta property="og:url" content="https://rzro.link/">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="Smart URL Shortener | From Recursive Zero">
  <meta property="twitter:description"
    content="Create powerful short links , QR Code and share them with confidence. Track clicks, manage your links, and access detailed analytics.">
  <meta property="twitter:image" content="https://rzro.link/static/og-image.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Geist+Mono&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/css/tiny.css">

  {% block head_extra %}{% endblock %}
</head>

<body class="dark-theme">

  <header class="app-header">
    {% include "header.html" %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="big-footer">
    {% include "footer.html" %}
  </footer>

  <script>
    (function applyTheme() {
      const theme = localStorage.getItem('theme') || 'dark';
      document.body.classList.toggle('dark-theme', theme === 'dark');
      document.body.classList.toggle('light-theme', theme === 'light');
    })();

    function toggleTheme() {
      const isDark = document.body.classList.contains('dark-theme');
      const next = isDark ? 'light' : 'dark';

      document.body.classList.toggle('dark-theme', next === 'dark');
      document.body.classList.toggle('light-theme', next === 'light');

      localStorage.setItem('theme', next);
    }

  </script>
</body>

</html>